btn {
  border-radius: 2px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navright {
  position: absolute;
  top: 1em;
  right: 1em;
}

.mod-link {
  display: inline-block;
  width: 100%;
}

.logo-image {
  margin-top: -5em;
  width: 40%;
}

.mod-link-parent {
  text-align: center;
  width: 100%;
}

.mods-masthead {
  background-color: #ffeead;
  /* background-image: url("") !important; */
  /* background-size: cover !important; */
  /* background-image: url("/your-dir/your_image.jpg"); */
  min-height: 100%;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  background-position: center;
}

.mod-name {
  padding-top: 2.5em;
  text-align: center;
  font-size: 3.5em;
  font-family: fantasy;
}

.mod-title {
  font-family: fantasy;
  font-size: 2.5em;
}

.post-container {
  width: 100%;
  height: auto;
  margin-left: 40px;
  margin-top: 40px;
  overflow: hidden;
}

.users-container {
  width: 100%;
  height: auto;
  margin-left: 40%;
  margin-top: 40px;
  overflow: hidden;
}

/* .content-wrapper {
  display: inline-block;
}

.post-wrapper {
  width: 70em;
  height: 10em;
  position: relative;
}

.content-wrapper img {
  position: absolute;
  width: 100%;
} */

/* .post-content {
  position: absolute;
  width: 65%;
  margin-top: 23%;
  margin-left: 17%;
}

.post-content p {
  text-align: center;
  font-size: 11pt;
  word-wrap: break-word;
}

.post-array-container {
  float: left;
} */

.form-control {
  width: 95%;
}

.submit.button {
  position: absolute;
  margin-top: 0em;
  margin-right: 10em;
  border-radius: 2px;
  padding: 0.8em;
  background-color: #ffcc5c;
  color: #88d8b0;
  border-radius: 3px;
}

.pointer {
  cursor: pointer;
}

.delete {
  float: right;
  margin-right: -25px;
  margin-top: -35px;
  background: white;
  border-radius: 25px;
  padding-right: 5px;
  padding-left: 5px;
}

.likes {
  position: absolute;
  right: 0px;
  margin-top: 13em;
}

.post-content p {
  position: absolute;
  padding-left: 1em;
}

.author {
  position: absolute;
  left: 0em;
  width: 9em;
  top: 8.5em;
}

.author-edit {
  position: absolute;
  left: 2em;
  width: 9em;
  top: 10em;
}

.alert-error {
  position: relative;
  color: red;
  top: 0.5em;
}

#edit-postit-alert-error {
  position: absolute;
  color: red;
  top: 10em;
  left: 3em;
  bottom: 1em;
  width: 20em;
}

#postit-form {
  position: absolute;
  background: transparent;
  border: none;
  margin-top: -1em;
  padding-bottom: 9em;
}

#postit-input {
  position: absolute;
  background: transparent;
  text-align: center;
  border: solid;
  border-width: 1px;
  font-size: 11pt;
}

#postit-submit {
  position: absolute;
  right: -230px;
  top: 165px;
  /* right: 1em;
  top: 10em; */
}

#login-form {
  position: relative;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
}

#signup-form {
  position: relative;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
}

#edit-profile-form {
  position: relative;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
}

#new-post-form {
  position: relative;
  top: 3em;
  width: 80%;
  padding-right: 7em;
  padding-left: 2em;
  padding-bottom: 2em;
  left: 10%;
  background-color: #ffeead;
  border: 1px solid #ff6f69;
  border-bottom: 2px solid #ff6f69;
}

/* #new-post-form {
  position: fixed;
  float: right;
  top: 30%;
  right: 30px;
  width: 25%;
  padding: 3em;
} */

.ui.menu.navBar,
.ui.menu.navright {
  background-color: #ffcc5c;
  color: #88d8b0;
  border-bottom: 2px solid #ff6f69;
}

.ui.menu.navBar span,
.ui.menu.navBar a {
  color: #88d8b0;
}

.comments-container {
  margin-left: 2em;
  padding-bottom: 2em;
}

.ui.card.form.comment {
  margin-left: 1em;
  width: 90%;
}

.posts-container {
  float: left;
  width: 70%;
  padding: 3em;
}

.comment-form {
  width: 100%;
}

.search-form {
  position: absolute;
  left: 38em;
}

.profile-icon {
  position: relative;
  width: 50px;
  border-radius: 3px;
}

.post,
.comment {
  position: relative;
  margin-top: -3.5em;
  margin-left: 3em;
}

.comment {
  padding-bottom: 1em;
}

.usercard {
  position: relative;
  margin-top: -3.5em;
  margin-left: 4em;
  padding-bottom: 1em;
}

.cover-photo {
  width: 100%;
  height: 30em;
  object-fit: contain;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  margin-top: -75px;
  margin-left: 2em;
}

.profile-username {
  position: absolute;
  margin-left: 8em;
  margin-top: -3em;
}

.search-username {
  font-weight: bold;
}

.username {
  position: absolute;
  margin-top: -3em;
  font-weight: bold;
}

.ui.card.form.cover {
  position: absolute;
  right: 10%;
  margin-top: -3.5em;
}

.ui.card.form.profile {
  position: absolute;
  margin-left: 14em;
  margin-top: -9em;
}

.stats {
  position: absolute;
  margin-left: 9em;
}

.red {
  color: red;
}

.energy-hide {
  display: none;
}

.energy-show {
  position: sticky;
  width: 20em;
  border-radius: 2em;
  border-bottom: 2px solid #ff6f69;
  display: block;
  padding: 2em;
  padding-bottom: 0em;
  margin-top: -50%;
  left: 40%;
}

.close {
  color: red;
  position: relative;
  right: -17em;
  top: -5em;
}
